body{
    
    padding-top: 800px;
  }

  #ho{
    text-align:center;
  }
  #notbio{
    color: whitesmoke;
    background: rgb(255,87,0);
    background: linear-gradient(180deg, rgba(255,87,0,1) 0%, rgba(255,255,255,1) 32%, rgba(222,224,251,1) 50%, rgba(236,244,236,1) 67%, rgba(19,123,21,1) 100%);
    position: absolute;
    overflow: hidden;
    height: 800px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: table;
    width: 100%;
    height: 100%;
    z-index: 9;
    text-align:center;
  }

  #hobby{
    color:black;
    text-shadow: 4px 4px white;
    font-family: cursive;
  }
  #hi{
    height:130px;
    border-radius:100%;
  }


  .parallax-inner {
    display: table-cell;
    position: relative;
    vertical-align: middle;
    text-align: center;
  }
  
  .row {
    display: flex;
  }
  
  .column {
    flex: 33.33%;
    padding: 5px;
  }
  
  #i{
    height: 200px;
    width: 400px;
  }
  
  
 
  html{
    scroll-behavior: smooth;
  }


  
  

  .header_entredhdhfhfhfhfh{
    line-height: 2; 
}

.book{
    cursor: pointer;
}

.book hr{
    margin-bottom: 10px;
}

.modal-content{
    margin-top: 100px;
}

.img_modal{
    display: inline-block;
}

.p_modal{
    margin-top: 10px;
}

.modal-body{
    text-align: center;
}

#ghm{
  height: 530px;
  width: 390px;
}

#bla{
  text-align: center;
}

#ghn{
  height: 575px;
  width: 435px;
  margin-left: 68px;
}

#peo{
  margin-left: 35px;
  margin-right: 35px;
}

.menu {
  list-style: none;
  font-family:'Courier New', Courier, monospace;
  position: fixed;
  z-index: 500;
  right: 30px;
  cursor: pointer;
  top: 10px;
  text-decoration: none;
  color: black;
}

.link {
  float: left;
  color: black;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 9px;
  padding-right: 9px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  text-decoration: none;

}

.link:hover{
  background-color: white;
}

a{
  text-decoration: none;
  font-size: 20px;
  color: black;
}

#mmm{
  text-decoration: none;
  color: black;
}